table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #069861;
  color: white;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.TableDiv {
  width: 90%;
  margin: 10% auto;
}
.TableEditInputfalse {
  background-color: transparent;
  border: 1px solid transparent;
  height: 30px;
}
.TableEditInputtrue {
  border: 1px groove gray;
  height: 30px;
  background-color: transparent;
}
.TableNonEdit {
  border: 0px;
  height: 30px;
  background-color: transparent;
}
input {
  text-align: center;
  width: 100%;
}
th {
  text-align: center;
}
.EditAndDeleteBtn {
  width: 80px;
  height: 35px;
  font-size: 35px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LowerContentBtns {
  margin: 3% auto;
  /* border: 1px solid #000; */
  text-align: right;
}
button {
  cursor: pointer;
}
.DeleteAllBtns {
  width: 100px;
  height: 40px;
  background-color: rgb(213, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
  cursor: default;
  opacity: 0.4;
}
.AddNewRow {
  float: left;
  width: auto;
  height: 40px;
  background-color: rgb(0, 136, 255);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddNewRow > svg {
  font-size: large;
}

.AddNewRowForm {
  width: 80%;
  margin: auto;
}

.AddNewVisitorForm {
  width: 100%;
  margin: auto;
}
.AddNewVisitorForm > input {
  height: 28px;
}
.AddNewVisitorButton {
  width: 101%;
  height: 30px;
  /* padding: 8px; */
}
#GenerateTableInput {
  height: 25px;
  border: none;
}

/* formStyles.css */

.form-container {
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  width: 98%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container button {
  width: 102.5%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #0056b3;
}
.InnerTableComponent {
  width: 90%;
  margin: auto;
  height: 70vh;
}
.YourTables {
  width: 100%;
  margin: 20px auto; /* Center the div horizontally */
  padding: 10px;
  background-color: #ffffff; /* Background color of the div */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow with a slight blur */
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.YourTables:hover {
  /* background-color: #069861; */
  background-color: transparent;
}
.IndexIcon:hover {
  color: #069861;
}
.indexTableRow {
  width: 120px;
  font-size: 35px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.IndexIcon:nth-child(3):hover {
  color: red;
}
