table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #069861;
  color: white;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.TableDiv {
  width: 90%;
  margin: 10% auto;
}
.TableEditInputfalse {
  background-color: transparent;
  border: 1px solid transparent;
  height: 30px;
}
.TableEditInputtrue {
  border: 1px groove gray;
  height: 30px;
  background-color: transparent;
}
.TableNonEdit {
  border: 0px;
  height: 30px;
  background-color: transparent;
}
input {
  text-align: center;
  width: 100%;
}
th {
  text-align: center;
}
.EditAndDeleteBtn {
  width: 80px;
  height: 35px;
  font-size: 35px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LowerContentBtns {
  margin: 3% auto;
  /* border: 1px solid #000; */
  text-align: right;
}
button {
  cursor: pointer;
}
.DeleteAllBtns {
  width: 100px;
  height: 40px;
  background-color: rgb(213, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
  cursor: default;
  opacity: 0.4;
}
.AddNewRow {
  float: left;
  width: auto;
  height: 40px;
  background-color: rgb(0, 136, 255);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddNewRow > svg {
  font-size: large;
}

.AddNewRowForm {
  width: 80%;
  margin: auto;
}

.AddNewVisitorForm {
  width: 100%;
  margin: auto;
}
.AddNewVisitorForm > input {
  height: 28px;
}
.AddNewVisitorButton {
  width: 101%;
  height: 30px;
  /* padding: 8px; */
}
#GenerateTableInput {
  height: 25px;
  border: none;
  
}
